<h1>Welcome to Hipster Parrot</h1>
<h2>Like the Twitter bird, but cooler.</h2>
<h3>Mainstream</h3>
<p>The Mainstream is a global feed, where everyone's posts are shown. Some posts are cool. Others, maybe not.</p>
<h3>The Deck</h3>
<p>The Deck is your personal feed. Only posts by people you follow will be shown.</p>